.thumbnail{
  width: 300px;
  display: block;
}
.video-preview1, .video-preview2{
  width: 300px;
  display: inline-block;
  margin: 10px;
  vertical-align: top;
}
.video-title{
  width: 300px;
}
.search-bar{
  display: block;
  margin-bottom: 10px;
}

